html, body  {
padding: 0;
margin: 0;
background-color: rgb(194, 18, 18);
box-sizing: border-box;
font-size: 62.5%;
font-family: 'Vesper Libre', serif;
}
header{
    background-color: antiquewhite;
    border: 10px solid black;
    padding: 4%;
    margin: 4%;
    text-align: center;
    color: darkgreen;
    font-size: 50px;
}
.flex-container{
    flex-direction: row;
    display: flex;
    width: auto;
    height: auto;
    flex: 1;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 8vh;
}
.card-body{
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
    margin-top: auto;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
    box-shadow: 15px 10px 10px black;
    margin: 18px;
    padding: 6px;
    border: 5px solid black;
}
.card-title{
    font-size: 24px;
    color: darkgreen;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.card-text{
    font-size: 14px;
    color: darkgreen;
    justify-content: center;
    padding: 3%;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.card-img{
    width: 18vw;
    height: 21vh;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
}
.flex-container:hover .card-body:not(:hover) {
transform: scale(0.9);
transition: 1s;
opacity: 0.5;
}
#naples:hover{
    transform: scale(1.1);
    outline: 0.7rem solid black;
    transition: 1s;
}
#rome:hover{
    transform: scale(1.1);
    outline: 1rem solid black;
    transition: 2s;
}
#bologna:hover{
    transform: scale(1.1);
    outline: 1rem solid black;
    transition: 2s;
}
#florence:hover{
    transform: scale(1.1);
    outline: 0.7rem solid black;
    transition: 1s;
}
#turin:hover{
    transform: scale(1.1);
    outline: 0.7rem solid black;
    transition: 1s;
}
#palermo:hover{
    transform: scale(1.1);
    outline: 1rem solid black;
    transition: 2s;
}
#pisa:hover{
    transform: scale(1.1);
    outline: 1rem solid black;
    transition: 1s;
}
#positano:hover{
    transform: scale(1.1);
    outline: 0.7rem solid black;
    transition: 1s;
}
#siena:hover{
    transform: scale(1.1);
    outline: 0.7rem solid black;
    transition: 1s;
}
#venice:hover{
    transform: scale(1.1);
    outline: 1rem solid black;
    transition: 2s;
}
#milan:hover{
    transform: scale(1.1);
    outline: 1rem solid black;
    transition: 2s;
}
#verona:hover{
    transform: scale(1.1);
    outline: 0.7rem solid black;
    transition: 1s;
}