html, body  {
padding: 0;
margin: 0;
background-color: rgb(194, 18, 18);
box-sizing: border-box;
font-size: 62.5%;
font-family: 'Vesper Libre', serif;
}
header{
    background-color: antiquewhite;
    border: 10px solid black;
    padding: 3%;
    margin: 3%;
    text-align: center;
    color: darkgreen;
    font-size: 50px;
}
.flex-container{
    flex-direction: row;
    display: flex;
    height: 100%;
    justify-content: space-around;
    position: relative;
    align-items: flex-start;
    height: 100%;
    box-sizing: border-box;
    margin-left: 5vw;
    margin-right: 5vw;
}
.card-body{
    display: flex;
    width: 33.33%;
    height: 100%;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: auto;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    background-color: antiquewhite;
    box-shadow: 15px 10px 10px black;
    margin: 20px;
    padding: 10px;
    border: 5px solid black;
}
.card-title{
    font-size: 25px;
    color: darkgreen;
    text-align: center;
    align-items: stretch;
}
.card-text{
    font-size: 15px;
    color: darkgreen;
    align-items: stretch;
    flex: 1 1 30%;
    text-align: center;
}
.card-img{
    width: 18vw;
    height: 21vh;
    border: 3px solid black;
    align-items: stretch;
}
